.loading-spinner {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .65;
  z-index: 100000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .15s;
}

.loading-spinner svg {
  transform: scale(2);
}
